
:root {
    --background-color: #222;
    --text-color: #ccc;
    --player-color: #d0a400;
    --focus-color-1: #ff0000;
    --focus-color-2: #14bf02;
    --focus-color-3: #2a6fff;
    --focus-color-4: #ff00cc;
    --margin: 10px;
    --padding: 10px;
    --console-width: 300px;
}

body {
    background-color: var(--background-color);
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: var(--text-color);
    font-family: monospace;
}

#metrics {
    position: absolute;
    left: var(--margin);
    top: var(--margin);
    width: 250px;
    height: 400px;
    border: 1px solid gray;
}

#metrics table {
    width: 100%;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
}
